# Server Configuration
PORT=3000
NODE_ENV=development
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=1d

# Database Configuration (Postgres)
DATABASE_URL="postgresql://postgres:postgres_password@localhost:5432/rateguard?schema=public"

# Cache & Pub/Sub Configuration (Redis)
REDIS_URL="redis://localhost:6379"

# Queue Configuration (BullMQ)
REDIS_HOST=localhost
REDIS_PORT=6379

# Admin Setup
ADMIN_EMAIL=admin@rateguard.io
ADMIN_PASSWORD=AdminSecurePassword123!
